 <table class="table table-striped mt-5">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
       
    {{#each products}}
        <tbody>
            <tr>
                <td> {{name}} </td>
                <td> {{price}} </td>
                <td> {{category}} </td>
                <td> {{quantity}} </td>
                <td> {{description}} </td>
                <td> <img src="/uploads/{{image}}" width="100px" height="100px" class="card-img" alt="..."></td>
                {{!-- <td>{{image}}</td> --}}
            </tr>
            {{else}}
                <h1 style="text-align: center; color: black">No Products</h1>
        </tbody>
    {{/each}}
</table>