    <style>
  body {
    background: #E0E0E0
}
.details {
    border: 1.5px solid grey;
    color: #212121;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px #212121
}
.cart {
    background-color: #212121;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px #212121
}

.card {
    width: fit-content
}

.card-body {
    width: fit-content
}

.btn {
    border-radius: 0
}

.img-thumbnail {
    border: none
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-bottom: 10px
}
</style>

{{!-- <div class='container-fluid'>
  {{#each products}}
    <div class="card mx-auto card-group col-md-3 col-10 mt-5"> 
        {{#with image}}
            <td> <img src="data:image/jpeg;base64,{{this.data}}" id="product-img" width="100px" height="100px" alt="..."></td>
        {{/with}}
        
        <div class="card-body text-center mx-auto">
            <div class='cvp'>
                <h5 class="card-title font-weight-bold">{{this.name}}</h5>
                <p class="card-text">RS.{{this.price}}</p> <a href="/item/{{this._id}}" class="btn details px-auto">DETAILS</a>
                <br /> <a href="/cart/{{this._id}}&1" class="btn cart px-auto">ADD TO CART</a>
            </div>
        </div>

    </div> 
    {{/each}}
</div> --}}

<div class="row">
	{{#each products}}
		<div class="col-md-4 mt-4">
			<div class="thumbnail">
				<div class="caption">
                    <img src="" class="img-thumbnail" alt="...">
					<h3>
						{{this.name}}
					</h3>
					
                    <p class="card-text">RS.{{this.price}}</p>
					</br>

                    <form class="btn-group" role="group">
                        <a href="/item/{{this._id}}" class="btn btn-primary px-auto mr-3">DETAILS</a>
                        <a href="/cart/{{this._id}}&1" class="btn btn-secondary px-auto">ADD TO CART</a>
                    </form>
				</div>
			</div>
        </div>
	{{/each}}
</div>